{% extends 'base.html.twig' %}

{% block title %}Hello RoadmapController!{% endblock %}

{% block body %}
                <!-- Contenu principal à droite -->
                    <main class="col-md-9 col-lg-10 p-2">
                        <!-- Contenu principal à gauche -->
                        <h1 class="form-label text-center bebas text-color-blue mb-5 mt-5">FICHE ENTREPRISE</h1>
                        <div class="container ">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Entreprise</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Fiche</li>
                                </ol>
                            </nav>

			<div class="text-end mb-3">
			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{path('app_new_roadmap', { id: user.id })}}" class="btn btn-warning rounded-0">
					Nouvelle roadmap
				</a>
					{% endif %}
			</div>
                            <div class="card shadow-sm rounded-0 border-0 p-5 text-center" style="max-width: 1200px;">

    <!-- Infos entreprise -->
    <p class="p-2 fs-5 fw-light text-body-secondary text-break text-center">
        Cette partie représente la stratégie financière que nous avons imaginé pour vous.
        Vous aurez, la liste des financements correspondants à votre besoin sur 5 ans.
        Si vous voulez connaître les dispositifs vous aurez juste à cliquer sur le nom et
        vous aurez les informations.
    </p>

   

</div>



<div class="container mt-5 d-flex justify-content-center position-relative">
  <!-- Ligne verticale -->
  <div class="vertical"></div>

  <!-- Cercle du haut -->
  <div class="circle position-absolute top-0 start-50 translate-middle-x">
    0
  </div>

  

  <!-- Cercle du milieu -->
  <div class="circle position-absolute start-50 translate-middle-x" style="top: 50%;">
    1
  </div>

  <!-- Cercle du bas -->
  <div class="circle position-absolute bottom-0 start-50 translate-middle-x">
    2
  </div>
  

{% for roadmap in roadmaps %}

    {% set isLeft = loop.index is odd %}

    {% if isLeft %}
        <!-- Bloc gauche -->
        <div class="position-absolute" style="top: {{ loop.index0 * 150 }}px; left: 0; width: 45%;">
            <div class="label-box text-end ms-auto">
                <h5 class="label-title">{{ roadmap.product.name }}</h5>
                <div class="label-line"></div>
                <p class="label-text">
                    <br>{{ roadmap.date|date('d/m/Y') }}<br>
                   {{ roadmap.product.productDescription }}
                </p>
            </div>
        </div>
    {% else %}
        <!-- Bloc droit -->
        <div class="position-absolute" style="top: {{ loop.index0 * 150 }}px; right: 0; width: 45%;">
            <div class="label-box text-start me-auto">
                <h5 class="label-title">{{ roadmap.product.name }}</h5>
                <div class="label-line"></div>
                <p class="label-text">
                    <br>{{ roadmap.date|date('d/m/Y') }}<br>
                   {{ roadmap.product.productDescription }}
                </p>
            </div>
        </div>
    {% endif %}

{% endfor %}


</div>



</div>



                         


                           











                           
                        </div>
                        
                    </main>
                </div>
            </div>






            <!-- Script Bootstrap JS (avec Popper inclus) -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
                // Bar Chart - Dépense/Revenue


                // Pie Chart - Répartition
                const pieCtx = document.getElementById('pieChart').getContext('2d');
                new Chart(pieCtx, {
                    type: 'pie',
                    data: {
                        labels: ['bpifrance', 'lcl', 'cic', 'créalia', 'Iniative'],
                        datasets: [{
                            data: [15, 30, 20, 15, 20],
                            backgroundColor: ['#FBBB3B', '#272E80', '#038B92', '#038BC2', '#E7226F']
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                position: 'right',
                                labels: {
                                    usePointStyle: true,
                                    pointStyle: 'circle'
                                }
                            }
                        }
                    }

                });
            </script>
{% endblock %}
