{% extends 'base.html.twig' %}

{% block title %}Opportunité
	{{ opportunity.id }}
{% endblock %}

{% block body %}
	<div class="container mt-4">

		<h1>Détails de l'activité</h1>

		<div class="card">
			<div class="card-body">

				<p>
					<strong>Type :</strong>
					{{ opportunity.leadSource }}</p>
				<p>
					<strong>Etape :</strong>
					{{ opportunity.stage }}</p>
				<p>
					<strong>Date :</strong>
					{{ opportunity.createdAt|date('d/m/Y H:i') }}</p>

				<p>
					<strong>Contact :</strong>
					<a href="{{ path('app_contact_show', {id: opportunity.contact.id}) }}">
						{{ opportunity.contact.firstName }}
						{{ opportunity.contact.lastName }}
					</a>
				</p>


				<a href="{{ path('app_contact_show', {id: opportunity.contact.id}) }}" class="btn btn-secondary">Retour au contact</a>

				<a href="{{ path('app_activity_edit', { id: opportunity.id }) }}" class="btn btn-warning">
					Modifier l'activité
				</a>

			</div>
		</div>

	</div>
{% endblock %}
